@import url('https://fonts.google.com/specimen/Vollkorn?preview.text=Games&preview.text_type=custom');
@import url('https://fonts.google.com/specimen/Merriweather?preview.text=Games&preview.text_type=custom');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


body {
    background-color: #eef1ef;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Vollkorn";
    font-size: 20px;
    font-weight: 400;
    background-color: #1c2321;
    color: #a9b4c2;
    margin: 0%;
    padding: 20px;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 10px;
}

.menu li a {
    color: #a9b4c2;
    text-decoration: none;
}

.menu li a:hover {
    color: #7d98a1;
} 

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    border: 2px solid #1c2321;
    display: flex;
    flex-direction: column;
    width: 420px;
    min-height: 150px;
    background-color: white;
    padding: 10px;
    margin:20px;
    line-height: 22px;
    color: #1c2321;
    background-color: #f7faf8;
}

.box2 {
    border: 2px solid #1c2321;
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 150px;
    background-color: white;
    padding: 10px;
    margin:20px;
    line-height: 22px;
    color: #1c2321;
    background-color: #f7faf8;
}

.title {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.title a {
    color: #1c2321;
    text-decoration: none;
}

.title a:hover {
    color: #7d98a1;
}

.developer {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.genre {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.description_title {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.stock {
        font-weight: bold;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        color: #1c2321; 
}

.trash-button {
    display: contents;
}

.trash-button:hover {
    cursor: pointer;
}

.delete-form{
    display: inline;
}

.name {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.name a {
    color: #1c2321;
    text-decoration: none;
}

.name a:hover {
    color: #7d98a1;
}

.shipping_price {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.shipping_time {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.buy {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.sell {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}

.new_title {
        font-weight: bold;
        color: #1c2321;
}

.add-button {
    display: contents;
}

.add-button:hover {
    cursor: pointer;
}

.update-button {
    display: contents;
}

.update-button:hover {
    cursor: pointer;
}

.stock_level {
    display: flex;
    align-items: center;
}

.mark_up {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1c2321;
}