{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="box2">
<form action="/games/{{game.id}}" method="post">
    <div class="title">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title" value="{{game.title}}" required autofocus>
    </div>

    <div class="developer">
        <label for="developer">Developer:</label>
        <select id="developer" name="developer_id">
          {% for developer in all_developers %}
            <option value="{{ developer.id }}"
              {% if game.developer.id== developer.id %} selected="selected"{% endif %}>
              {{ developer.name }}
            </option>
          {% endfor %}
        </select>
      </div>

    <div class="genre">
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" placeholder="Genre" value="{{game.genre}}" required>
    </div>

    <div class="description_title">
        <label for="description">Description:</label>
        <input name="description" id="description" value="{{game.description}}">
    </div>

    <div class="stock">
        <label for="stock">Quantity:</label>
        <input type="number" name="stock" id="stock" value="{{game.stock_quantity}}" required>
    </div>

    <div class="buy">
        <label for="buy">Buying Price:</label>
        <input type="number" name="buy" id="buy" value="{{game.buying_price}}" required>
    </div>

    <div class="sell">
        <label for="sell">Selling Price:</label>
        <input type="number" name="sell" id="sell" value="{{game.selling_price}}" required>
    </div>

    <button class="update-button" type="submit"><i class="gg-arrow-up-o"></i></button>

</form>
</div>
</div>
{% endblock %}