{% extends "base.html" %}

{% block content %}

{% for game in all_games %}
<div class="box">
    <div class="title"> Title: <a href="/games/{{game.id}}">{{game.title}}</a> </div>
    
    <div class="developer"> Developer: {{game.developer.name}}</div>
    
    <div class="genre"> Genre: {{game.genre}}</div>

    <div class="description"> <div class="description_title"> Description:</div> {{game.description}} </div>

    
    <div class="stock"> Quantity: {{game.stock_quantity}}
    
    <div class="stock_level">
        {% if game.stock_quantity < 10 %}
        <i class="gg-shape-square" style="color: red; background-color: red" aria-hidden="true"></i>
        {% elif game.stock_quantity >= 10 and game.stock_quantity < 20 %}
        <i class="gg-shape-square" style="color:yellow; background-color: yellow;" aria-hidden="true"></i>
        {% else %}
        <i class="gg-shape-square" style="color:green; background-color: green;" aria-hidden="true"></i>
        {% endif %}
    </div>
    </div>
    <form class="delete-form" action = "games/{{game.id}}/delete" method = "POST">
        <button class="trash-button"><i class="gg-trash"></i></button>
    </form>
</div>

{% endfor %}
{% endblock %}