{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="box">
    <div class="title">Title: {{game.title}} </div>
    
    <div class="name"> Developer: {{game.developer.name}} </div>
    
    <div class="genre">Genre: {{game.genre}}</div>

    <div class="description"> Description: {{game.description}}</div>

    <div class="stock"> Quantity: {{game.stock_quantity}}
        <div class="stock_level">
        {% if game.stock_quantity < 10 %}
        <i class="gg-shape-square" style="color: red; background-color: red" aria-hidden="true"></i>
        {% elif game.stock_quantity >= 10 and game.stock_quantity < 20 %}
        <i class="gg-shape-square" style="color:yellow; background-color: yellow;" aria-hidden="true"></i>
        {% else %}
        <i class="gg-shape-square" style="color:green; background-color: green;" aria-hidden="true"></i>
        {% endif %}
    </div>
    </div>

    <div class="buy"> Buy: £{{game.buying_price}}</div>

    <div class="sell"> Sell: £{{game.selling_price}}</div>

    <div class="edit"><a href="/games/{{game.id}}/edit">Edit</a></div>
</div>
</div>
{% endblock %}
