{% extends "base.html" %}

{% block content %}

<div class="box2">
<form action="/developers/{{developer.id}}" method="post">
    <div class="name">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" value="{{developer.name}}" required autofocus>
    </div>

    <div class="shipping_price">
        <label for="shipping_price">Shipping Price:</label>
        <input type="number" name="shipping_price" id="shipping_price" value="{{developer.shipping_price}}" required>
    </div>

    <div class="shipping_time">
        <label for="shipping_time">Shipping Time:</label>
        <input type="number" name="shipping_time" id="shipping_time" value="{{developer.shipping_time}}" required>
    </div>

    <button class="update-button" type="submit"><i class="gg-arrow-up-o"></i></button>

</form>
</div>

{% endblock %}