{% extends "base.html" %}

{% block content %}

<h1>Add New Developer</h1>

<form action="/developers" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>

    <div>
        <label for="shipping_price">Shipping Price:</label>
        <input type="number" name="shipping_price" id="shipping_price">
    </div>

    <div>
        <label for="shipping_time">Shipping Time:</label>
        <input type="number" name="shipping_time" id="shipping_time">
    </div>

    <button class="add-button" type="submit"><i class="gg-add"></i></button>

</form>

{% endblock %}