{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="box2">
<div class="new_title"> New Developer</div>
<form action="/developers" method="post">
    <div class="name">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>

    <div class="shipping_price">
        <label for="shipping_price">Shipping Price:</label>
        <input type="number" name="shipping_price" id="shipping_price" placeholder="Shipping Price">
    </div>

    <div class="shipping_time">
        <label for="shipping_time">Shipping Time:</label>
        <input type="number" name="shipping_time" id="shipping_time" placeholder="Shipping Time">
    </div>

    <div class="active">
        <label for="active">Active:</label>
        <select id="active" name="active">
          <option value="1">True</option>
          <option value="0">False</option>
        </select>
      </div>

    <button class="add-button" type="submit"><i class="gg-add"></i></button>

</form>
</div>
</div>
{% endblock %}